[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
python-dotenv = "*"
marshmallow = "*"
pymysql = "*"
actions = "*"
api = "*"
simplejson = "*"
marshmallow-sqlalchemy = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
httplib2 = "*"
passlib = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
oauth2client = "*"

[requires]
python_version = "3.7"
